<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="note/main">
<head>
    <title>Update note - NoteApp</title>
</head>
<body>
<main layout:fragment="contentPage">
    <th:block th:if="${note != null}">
        <h2 style="margin-bottom: 20px">Update Note</h2>
        <th:block th:replace="note/form :: form"/>
    </th:block>
    <th:block th:unless="${note != null}">
        <h2 style="margin-bottom: 20px">Not found!</h2>
    </th:block>
</main>
</body>
</html>