<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="note/main">
<head>
    <title>Update note</title>
</head>
<body>
<div layout:fragment="contentPage">
    <th:block th:if="${note != null}">
        <h2 style="margin-bottom: 20px" th:text="#{label.update}"></h2>
        <th:block th:replace="note/component :: form"/>
    </th:block>
    <th:block th:unless="${note != null}">
        <h2 style="margin-bottom: 20px">Not found!</h2>
    </th:block>
</div>
</body>
</html>